Repository shreyasgm/ask-atlas: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1200']  # uv.lock is ~1.1 MB
      - id: detect-private-key

  # Linting — version must match what `uv run ruff --version` reports
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]

  # Formatting — version must match what `uv run black --version` reports
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black

  # Keep uv.lock in sync with pyproject.toml
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-lock

  # Frontend checks — local hooks that run only when frontend files change
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend lint (oxlint)
        entry: pnpm --dir frontend run lint
        language: system
        files: ^frontend/src/
        types_or: [ts, tsx, javascript, jsx]
        pass_filenames: false
      - id: frontend-format-check
        name: frontend format check (oxfmt)
        entry: pnpm --dir frontend run lint:format
        language: system
        files: ^frontend/src/
        types_or: [ts, tsx, javascript, jsx]
        pass_filenames: false
      - id: frontend-typecheck
        name: frontend type check (tsgo)
        entry: pnpm --dir frontend run tsc:check
        language: system
        files: ^frontend/
        types_or: [ts, tsx]
        pass_filenames: false

Remove docs/DEPLOYMENT.md from tracking, restore gitignore entry
  .gitignore
Due: none

Remove hardcoded suggestion chips from chat UI (#59)
  frontend/src/components/chat/assistant-message.test.tsx
  frontend/src/components/chat/assistant-message.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/chat/suggestion-pills.tsx
  frontend/src/components/workspace/center-panel.tsx
  frontend/src/constants/chat-data.ts
  frontend/src/pages/chat.integration.test.tsx
  frontend/src/pages/chat.test.tsx
Due: frontend-lint, frontend-format-check, frontend-typecheck

Add docs/ to gitignore, remove individual doc entries
  .gitignore
Due: none

Update Cloud Run deploy config with secrets, service account, and gen2 runtime
  .github/workflows/deploy.yml
Due: none

Add Firebase Hosting config for frontend deployment
  .gitignore
  frontend/.firebaserc
  frontend/firebase.json
Due: none

Mount all API routes under /api prefix for Firebase Hosting compatibility
  frontend/vite.config.ts
  src/api.py
  src/tests/test_api.py
Due: frontend-typecheck

Add Artifact Registry cleanup policy for automatic image expiry
  cleanup-policy.json
Due: none

Replace Firebase hosting action with Firebase CLI + WIF auth
  .github/workflows/deploy.yml
Due: none

Route API calls directly to Cloud Run, bypassing Firebase Hosting SSE buffering
  .github/workflows/deploy.yml
  frontend/firebase.json
  frontend/src/config.ts
  frontend/src/hooks/use-chat-stream.test.ts
  frontend/src/hooks/use-chat-stream.ts
  frontend/src/hooks/use-conversations.test.ts
  frontend/src/hooks/use-conversations.ts
  frontend/src/vite-env.d.ts
  src/api.py
  src/config.py
Due: frontend-lint, frontend-format-check, frontend-typecheck

Rename Firebase Hosting to named site ask-atlas-gl
  .github/workflows/deploy.yml
  frontend/.firebaserc
  frontend/firebase.json
Due: none

Update CORS origins to new Firebase Hosting URL
  src/api.py
Due: none

Rewrite README as a concise features-forward document
  README.md
Due: none

Fix Atlas URL from atlas.cid.harvard.edu to atlas.hks.harvard.edu
  app.py
  frontend/src/components/landing/footer.tsx
  frontend/src/components/landing/header.tsx
Due: frontend-lint, frontend-format-check, frontend-typecheck

Fix GitHub links in header and footer to point to correct repo
  frontend/src/components/landing/footer.tsx
  frontend/src/components/landing/header.tsx
Due: frontend-lint, frontend-format-check, frontend-typecheck

Design files
  design.pen
  design_with_resolutions_dark_mode_archive.pen
Due: none
